// Place your key bindings in this file to overwrite the defaults
[
    {
        "key": "alt+b",
        "command": "workbench.action.tasks.runTask",
        "args": "mbed_compile"
    },
    {
        "key": "alt+f",
        "command": "workbench.action.tasks.runTask",
        "args": "st-flash"
    },
    {
        "key": "alt+t",
        "command": "workbench.action.tasks.runTask",
        "args": "mbed_sterm"
    },
    {
        "key": "alt+shift+t",
        "command": "workbench.action.tasks.runTask",
        "args": "mbed_sterm_window"
    },
]